@import url('link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet"');
@import url('"link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"');

.lyricsbox {
  font-family: "Bungee";
  font-size: 1em;
  text-align: center;
  line-height: 100%;
  letter-spacing: 6px;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}
.lyricsbox p{
  background-color: white;
  color: black;
}
#geazy{
  line-height: 150%;
  letter-spacing: 1px;
}
#djkhaled{
  line-height: 150%;
  letter-spacing: 1px;
}
#djkhaled p{
  font-family: "Raleway"
}
