@import url('link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet"');
@import url('"link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"');

.lyricsbox {
  font-family: "Bungee";
  font-size: 1em;
  text-align: center;
  line-height: 100%;
  letter-spacing: 6px;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}
.lyricsbox p{
  background-color: white;
  color: black;
}
#geazy{
  line-height: 150%;
  letter-spacing: 1px;
}
#geazy p{
  text-decoration: underline;
  font-size: 1em;
  font-weight: 700;
  font-weight: bold;
}
#geazy h3{
  text-shadow: 3px 3px 3px green;
  font-size: 2em;

}
#djkhaled{
  line-height: 150%;
  letter-spacing: 1px;
}
#djkhaled p{
  font-family: "Raleway"
  font-weight:700: bold;
  text-decoration: underline;
  font-weight: 700;

}
#djkhaled h3{
  text-shadow: 3px 3px 3px blue;
  font-size: 2em;
  }
